/* styles.css */

/* General styles */
body {
    margin: 0;
    padding: 0;
    background-color: #F3EFF5;
    font-family: Roboto;
  }
  
  /* Navigation bar styles */
  .nav-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%; /* Adjust the width as needed */
    background-color: #0D0A0B; /* Change the background color as desired */
    color: #F3EFF5; /* Change the text color as desired */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
  }
  
  .nav-list {
    list-style: none;
    padding: 0;
    border: 1px solid white;
    border-radius: 5px;}
  
  .nav-list li {
    margin-bottom: 10px;
  }
  
  .nav-bar img{
    border-radius: 10px;
    border: 3px solid white;
  }
  
  .footer a:hover{
    background-color: #72B01D;
    color:white;
  }
  
  .footer a {
    border: 1px solid #72B01D; /* Adds a border around the link */
    padding: 5px 10px; /* Adds padding inside the link */
    border-radius: 4px; /* Adds rounded corners to the border */
    text-decoration: none; /* Removes underline from the link */
    color: #72B01D; /* Change the color to your desired value */
  }
  
  /* Main content styles */

  
  h2 {
    margin-top: 0;
  }
  
  p {
    font-size: 1.25rem;
    line-height: 1.6; /* Adjust line-height for better readability */
  }

  